.not-found {
  text-align: center;
  padding: 100px 20px;

  h1 {
    font-size: 10rem;
    color: #FF6B6B;
  }

  p {
    font-size: 1.5rem;
    color: #FF6B6B;
    margin-bottom: 30px;
  }
}

.home-link {
  color: black;
  padding: 10px 20px;

  &:hover {
    background-color: #FF6B6B;
    color: white;
  }
}
