.locations-container {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;

  .locations-banner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner-image {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 20px;
    }

    .image-pagination {
      position: absolute;
      bottom: 10px;
      right: 700px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #00000000;
      border: none;
      color: #ffffff;
      font-size: 100px;
      padding: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }
  }

  .locations-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .location-title {
      flex-direction: column;
      align-items: flex-start;
      color: #FF6B6B;

      p {
        display: flex;
        align-items: flex-start;
        color: black;
      }
    }

    .tags {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      .tag {
        background-color: #FF6B6B;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 12px;
      }
    }

    .rating {
      display: flex;
      justify-content: right;
      margin-top: 10px;
  
      svg {
        margin-left: 7px;
        height: 20px;
      }
  
      .star.filled {
        color: #FF6B6B;
      }
    }

  .host-info {
    display: flex;
    align-items: center;

    p {
      color: #FF6B6B;
    }

    .host-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  }

  .accordions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
